* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.top{
    background: #222222;
    display: flex;
    padding-top: 18px;
    padding-bottom: 19px;
    align-items: center;
}
.logo-top{
    display: flex;
    gap: 41px;
    align-items: flex-end;
    margin-left: 2px;
}
.icons-top{
    margin-left: 859px;
    display: flex;
    gap: 33px;
    align-items: center;
}
.content-top{
    background: #F1E4E6;
    display: flex;
}
.rec{
    width: 12px;
    height: 92px;
    margin-left: 63.42px;
    margin-right: 16px;
    margin-top: 289.9px;
}
.title-top{
    width: 450px;
    height: 93px;
    margin-top: 290px;
    margin-bottom: 381px;
}
h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;

    color: #222222;
}
h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;

    color: #222222;
    display: flex;
    gap: 6px;
}
.word{
    color: #F16D7F
}
